 :root {
    --main-color: #2196F3;
    --secondary-color: #757575;
    --third-color: #E5E5E5;
    --fourth-color: #F5F4FA;
    --fifth-color: #FFFFFF;
    --sixth-color: #212121;
    --seveth-color: #2F303A;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

}
h1, h2, h3, h4, h5, h6, ul, ol, p, span {
    margin: 0;
    padding: 0;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
img {
    display: block;
}

.body {
    font-family: var(--main-font);
    color:var(--sixth-color)
}
.container{
    width: 1200px;
    align-items: center;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* ======COMPONENTS====== */
.logo-span {
    color: #2196F3;
}
.navigation-list-link-logo,
.navigation-list-link,
.address-header,
.navigation-list-link-logo-footer,
.addres-map,
.addres-mail,
.address-tel {
    text-decoration: none;
}


/* ======END COMPONENTS====== */

/* ============INDEX.HTML============ */

/* ======HEADER====== */
.navigation-list-link-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--sixth-color);
    margin-right: 93px;
    margin-left: 15px;
    }
.navigation-list-link, 
.address-header, .address-header, .address-header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--sixth-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.address-header-tel:hover,
.address-header-tel:focus,
.address-header:hover,
.address-header:focus {
    color:var(--main-color)
}

.header .container{
    display: flex;
    align-items: center;
    padding: 32px
}

.navigation {
    display: flex;
}
.navigation-list {
    display: flex;
    align-items: center;
}
.navigation-list-item:not(:last-child) {
    margin-right: 46px;
}
.header .address-header {
    margin-left: auto;  
}
.header .address-header-tel {
    margin-left: 50px;
    margin-right: 27px;
}

/* ======END HEADER====== */

/* ======MAIN====== */

    /* ======SECTION HERO====== */
.hero{
    background-color: var(--seveth-color);
    height: 600px;
    text-align: center;
    padding-top: 200px;
}
.hero-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: var(--fifth-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 696px;
    margin-left: 252px;

}
.hero-btn {
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: #2196F3;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.9;
    color: var(--fifth-color);
    text-align: center;
    letter-spacing: 0.06em;
}

    /* ======END SECTION HERO====== */
    /* ======SECTION ADVENTEGES====== */
.adventeges-list-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 10px 0;  
}
.adventeges-list-item-text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--secondary-color); 
    display: block;
    width: 270px;  
}
.section-title {
    font-size: 36px;
    letter-spacing: 0.03em;
    background-color: var(--third-color);        
}
.adventeges-list {
    display: flex; 
    justify-content: space-between;
}
.section-title .h2 {
    margin-left: 424px;
    margin-right: auto;
}
.activities-list {
    display: flex;
    justify-content: space-between;
}
    /* ======END SECTION ADVENTEGES====== */
    /* ======SECTION ABOUT-US====== */
.about-us-list-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}
.about-us-list-item-link-text {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;    
    color: var(--secondary-color)
}
.section-about-us {
    background-color: var(--fourth-color);
}
.about-us-list-item {
    background-color: var(--fifth-color);
}
    /* ======END SECTION ABOUT-US====== */
/* ======END MAIN====== */

/* ======FOOTER====== */
.navigation-list-link-logo-footer {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--fifth-color);
    }
.addres-map{
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color:var(--fifth-color)
}
.addres-mail,
.address-tel {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.address {
    font-style: normal;
}
.footer {
    background-color: var(--seveth-color);
}
/* ======END FOOTER====== */
/* ============END INDEX.HTML============ */


/* ============PORTFOLIO.HTML============ */

.navigation-list-link2 {
    color: var(--main-color)
}

/* ======MAIN====== */
    /* ======HERO====== */

.portfolio-hero-list-btn {
    font-weight: 500;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;   
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-hero-list-btn:hover,
.portfolio-hero-list-btn:focus {
    background-color: var(--main-color);
    color: var(--fifth-color);
}
    /* ======END HERO====== */

    /* ======PHOTOS====== */
.photos-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.photos-list-text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--secondary-color)
}
 /* ======END PHOTOS====== */

/* ============END PORTFOLIO.HTML============ */